<main>
  <app-learning-path appLog/>
  <hr>
  <app-auth />

  <!-- from angular 17 onwards 
    @if (isAdmin()) {
    <p>Only admins can see these.</p> 
  } -->

  <!-- <p *ngIf="isAdmin()">Only admins can see these.</p>  -->
  <p *appAuth="'admin'" class="protected-content admin">Only admins can see these.</p>
  <p *appAuth="'user'" class="protected-content unauthenticated">Regular users can see these.</p>
  <p *appAuth="'guest'" class="protected-content authenticated">Guest can see these.</p>
</main>